@using Trazabilidad.Controllers;
@using Armado.Controllers;
@using TrazaUbicacionContenedor.Controllers;
@using Resources.Strings;

@{
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
    //string admi = "453a05f1-e6a4-4108-abd8-665d2025a5ef";
    //string oper = "ce47fa1e-1641-4ff1-950c-77b5304e3e89";
    //string exte = "290f0286-b748-4a22-af96-e51db0aaccb6";
}

@*LISTADOS*@
@*CGO: DISPLAY IF USER IS IN CGO GROUP*@


@if (user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformAdmin) || user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformOperacion) || user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformExterno))
{
    @*@if(User.Identity.IsAuthenticated)
        {*@
    <li>
        <a href="#"><i class="fa fa-users"></i><span class="nav-label">Reportería</span> <span class="fa arrow"></span></a>
        @*<span class="nav-label">Reportería</span> <span class="fa arrow"></span>*@
        @*<ul class="nav nav-second-level collapse">*@
        @*<i class="fa fa-users"></i>*@
        <ul class="nav nav-second-level ">

            @if (user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformAdmin))
            {
                <li><a href="@Url.Action(nameof(HistorialActivoController.Index), nameof(Models.HistorialActivo))"><i class="fa fa-bar-chart"></i> Historial Contenedor</a></li>
            }
            @if (user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformOperacion) || user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformExterno) || user.HasClaim("groups", Resources.Strings.AzureGroups.PlatformAdmin))
            {
                <li><a href="@Url.Action(nameof(TrazabilidadController.ListResumenTrazabilidad), nameof(Models.Trazabilidad))"><i class="fa fa-bar-chart"></i> Inf. Personalizado</a></li>

                <li><a href="@Url.Action(nameof(TrazabilidadController.Index), nameof(Models.Trazabilidad))"><i class="fa fa-bar-chart"></i> Resumen Pesaje</a></li>

                <li><a href="@Url.Action(nameof(TrazaUbicacionContenedorController.ListActivos), nameof(Models.TrazaUbicacionContenedor))"><i class="fa fa-bar-chart"></i> Informe de Activos</a></li>


                @*<li id="liArmado"><a href="@Url.Action(nameof(ArmadoController.ListResumenArmado), nameof(Models.Armado))"><i class="fa fa-bar-chart"></i> Resumen Armado</a></li>*@

                <li><a href="@Url.Action(nameof(ArmadoController.Index), nameof(Models.Armado))"><i class="fa fa-globe"></i> Activos</a></li>
            }
        </ul>
    </li>
    @*<li>
            <a href="#"><i class="fa fa-list"></i> <span class="nav-label">Mantenedores</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="@Url.Action(nameof(CarroController.List), nameof(Models.Carro))"><i class="fa fa-edit"></i>Carros</a></li>
                <li><a href="@Url.Action(nameof(TagController.List), nameof(Models.Tag))"><i class="fa fa-edit"></i>Tags</a></li>
                <li><a href="@Url.Action(nameof(StatuController.List), nameof(Models.Statu))"><i class="fa fa-edit"></i>Status</a></li>
                <li><a href="@Url.Action(nameof(ContenedorController.List), nameof(Models.Contenedor))"><i class="fa fa-edit"></i>Contenedores</a></li>
                <li><a href="@Url.Action(nameof(ClienteController.List), nameof(Models.Cliente))"><i class="fa fa-edit"></i>Clientes</a></li>
                <li><a href="@Url.Action(nameof(RutaController.List), nameof(Models.Ruta))"><i class="fa fa-edit"></i>Rutas</a></li>
                <li><a href="@Url.Action(nameof(LocomotoraController.List), nameof(Models.Locomotora))"><i class="fa fa-edit"></i>Locomotoras</a></li>
                <li><a href="@Url.Action(nameof(ConductorController.List), nameof(Models.Conductor))"><i class="fa fa-edit"></i>Conductores</a></li>

            </ul>
        </li>*@
}

@*@if (!User.Identity.IsAuthenticated)
{*@

        @*@Html.Action("SignOutCallback", "Account")*@
@*}*@