@model ViewModels.Models.Servicio
@{
    ViewBag.Title = $"Servicio {Model.Codigo}";
    ViewBag.Header = $"Servicio {Model.Codigo}";
}

@*BARRA SUPERIOR*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>@ViewBag.Header</h2>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li><a href="@Url.Action("List", "Services")">Servicios</a></li>
            <li class="active"><strong>Servicio @Model.Codigo</strong></li>
        </ol>
    </div>
</div>

@*RESTO DE LA PAGINA*@
<div class="wrapper wrapper-content">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">
            <div>
                <h2 class="no-margins">
                        Servicio @Model.Codigo
                    </h2>
                @*<h4>Cliente: @Model.Client.Name</h4>*@
                <small>
                        Descripción del Servicio
                    </small>
            </div>
        </div>
        @*<div class="col-md-6">
                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td>
                                <strong>10</strong> Trenes
                            </td>
                            <td>
                                <strong>5</strong> Trenes Finalizados
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
    </div>

    @*ITINERARIOS*@
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Itinerarios Asociados: @(Model.Itinerario != null ? Model.Itinerario.Count() : 0)</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" data-vivaldi-spatnav-clickable="1">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Desc.</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Frecuencia</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Itinerario != null)
                        {
                            foreach (var schedule in Model.Itinerario)
                            {
                                <tr>
                                    <td>@schedule.Descripcion</td>
                                    <td>@schedule.Fecha_Inicio_Vigencia.Month.ToString("D2")/@schedule.Fecha_Inicio_Vigencia.Year</td>
                                    <td>@schedule.Fecha_Fin_Vigencia.Month.ToString("D2")/@schedule.Fecha_Fin_Vigencia.Year</td>
                                    <td>@schedule.Frequency</td>
                                    <td>
                                        <a href="@Url.Action("Index","Itinerario", routeValues: new { id = schedule.Id })">
                                            <i class="fa fa-search text-default"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*MODAL*@
@Html.Partial("Partial/_Create", new ViewModels.Models.Servicio())



//////////////////////////////////////////////////////////////////////////////////

