@model ViewModels.Models.Novedad

<div id="modal-create" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    @using(Html.BeginForm(nameof(Trazabilidad.Controllers.NovedadController.Create), nameof(Resources.Strings.Models.Novedad), FormMethod.Post, htmlAttributes: new { @id = "modal-element-create" }))
                    {


                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">Crear Nueva Novedad</h3>

                            <p>Ingresar una nueva novedad al sistema .</p>

                            @*<div class="form-group">
                                @Html.LabelFor(tt => tt.Destination, "Destino")
                                @Html.DropDownListFor(model => model.DestinationId, (SelectList)ViewBag.Estacions, "Seleccione un destino", htmlAttributes: new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(tt => tt.TimeLapse, "Tiempo de Viaje")
                                @Html.TextBoxFor(model => model.TimeLapse, htmlAttributes: new { @class = "form-control input-sm", type = "time", pattern = "[0-9]{2}:[0-9]{2}", min = "00:01", max = "11:00" })
                            </div>*@

                            <form role="form">
                                <div class="form-group">
                                    @Html.LabelFor(cl => cl.Tipo, "Razon")
                                    @Html.DropDownListFor(cl => cl.Tipo, (SelectList)ViewBag.Reasons, "Seleccione una Razon", htmlAttributes: new { @class = "form-control chosen-select" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(cl => cl.Tren, "Tren")
                                    @Html.DropDownListFor(cl => cl.Id_Tren, (SelectList)ViewBag.Train, "Seleccione Tren", htmlAttributes: new { @class = "form-control chosen-select" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(cl => cl.Servicio, "Servicio")
                                    @Html.DropDownListFor(cl => cl.Id_Servicio, (SelectList)ViewBag.Service, "Seleccione servicio", htmlAttributes: new { @class = "form-control chosen-select" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(cl => cl.Descripcion, "Detalles")
                                    @Html.TextAreaFor(cl => cl.Descripcion, htmlAttributes: new { @class = "form-control", placeholder = "Detalles", rows = "2", Style = "resize: none;" })
                                </div>

                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong><i class="fa fa-plus"></i> Guardar</strong></button>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="modal-new" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" id="travelTimeEdit">
                </div>
            </div>
        </div>
    </div>
</div>*@