<div id="modalEvent" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact-box">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a5.jpg">
                                        <div class="m-t-xs font-bold" id="jobTitle"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong id="userName"></strong></h3>
                                    <p id="absReason"><i class="fa fa-suitcase"></i> </p>
                                    <h4 id="startDate"></h4>
                                    <h4 id="endDate"></h4>
                                    @*<address>
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>*@
                                </div>
                                <div class="clearfix"></div>
                        </div>

                            @*<div class="form-group">
                                @Html.Label("Código")
                                @Html.TextBoxFor(cl => cl.Code, htmlAttributes: new { @class = "form-control", placeholder = "Código del Cliente" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(cl => cl.Name, "Nombre")
                                @Html.TextBoxFor(cl => cl.Name, htmlAttributes: new { @class = "form-control", placeholder = "Nombre" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(cl => cl.Address, "Dirección")
                                @Html.TextBoxFor(cl => cl.Address, htmlAttributes: new { @class = "form-control", placeholder = "Dirección" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(cl => cl.City, "Nombre")
                                @Html.TextBoxFor(cl => cl.City, htmlAttributes: new { @class = "form-control", placeholder = "Ciudad" })
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>