@model ViewModels.Models.Actividad


@using (Html.BeginForm(nameof(Trazabilidad.Controllers.TrenController.CreaPatio), nameof(Resources.Strings.Models.Tren), FormMethod.Post))
{

    @*@Html.HiddenFor(x => x.Id_Origen)
        @Html.HiddenFor(x => x.Id_Destino)*@
    @Html.HiddenFor(x => x.Id_TripulantePersona)
    @*@Html.HiddenFor(x => x.Id_Jornada)*@
    <div class="col-sm-12">
        <h3 class="m-t-none m-b">Crear Actividad Patio</h3>
        @*@if (Model.Estado == (int)ViewModels.Enum.TipoActividad.Pasajero)
            {*@

        <form role="form">
            @*<div class="form-group">
                @Html.LabelFor(tt => tt.Origen, "Lugar de Origen")
                @Html.DropDownListFor(model => model.Id_Origen, (SelectList)ViewBag.Estaciones, "Seleccione un origen", htmlAttributes: new { @class = "form-control chosen-select" })

            </div>*@

            <div class="form-group">
                @Html.LabelFor(tt => tt.Destino, "Lugar de Destino")
                @Html.DropDownListFor(model => model.Id_Destino, (SelectList)ViewBag.Estaciones, "Seleccione una Estacion de Destino", htmlAttributes: new { @class = "form-control chosen-select" })

            </div>

            <div class="form-group">
                @Html.LabelFor(tt => tt.HInicioPatio, "Hora de Inicio Patio")
                @Html.TextBoxFor(model => model.HInicioPatio, htmlAttributes: new { @class = "form-control", type = "DateTime" })

            </div>

            <div class="form-group">
                @Html.LabelFor(tt => tt.HFinPatio, "Hora de Fin de Patio")
                @Html.TextBoxFor(model => model.HFinPatio, htmlAttributes: new { @class = "form-control", type = "DateTime" })

            </div>

            <div>
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong><i class="fa fa-plus"></i> Guardar</strong></button>
            </div>
        </form>

        @*}*@
    </div>

}