@model ViewModels.Models.Conductor

<tr>

    @using (Html.BeginForm(nameof(Trazabilidad.Controllers.ConductorController), nameof(Resources.Strings.Models.Conductor), FormMethod.Post))
    {
        <td>@Model.Id</td>
        if (@Model.Deshabilitado == false)
        {
            <td>Habilitado</td>}
        else
        {
            <td>Deshabilitado</td>}

        <td>@Model.Rut</td>
        <td>@Model.Nombres</td>
        <td>@Model.Apellidos</td>
        <td>@Model.Celular</td>
        <td>
            <div class="input-group">
                <div class="input-group-btn">
                    <a data-toggle="modal" onclick="Edit(@Model.Id,18)" href="#modal-edit" class="btn btn-primary"><i class="fa fa-pencil" data-id="@Model.Id"></i> </a>

                </div>
            </div>
        </td>
    }
</tr>


    <div id="modal-edit" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="ConductorEdit">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-delete" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="ConductorDelete">
                    </div>
                </div>
            </div>
        </div>
    </div>