@model IEnumerable<ViewModels.Models.Conductor>
@using Resources.Strings;
@{
    ViewBag.Title = "Listado de Conductors";
    ViewBag.Header = "Conductors";
}

@*BARRA SUPERIOR*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Header</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Conductores</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="title-action">
            <a data-toggle="modal" href="#modal-create" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo Conductor</a>
        </div>
    </div>
</div>

@*RESTO DE LA PAGINA*@
<div class="wrapper wrapper-content">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Carro Vigentes: @Model.Count()</h5>
            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
            <div class="ibox-content">
                <table class="table" id="summary">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Habilitado</th>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Celular</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var Conductor in Model)
                            {
                                @Html.Partial("Partial/_Conductor", Conductor)
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*MODAL FOR CREATION*@

@Html.Partial("Partial/_Create", new ViewModels.Models.Conductor())
@*@Html.Partial("Partial/_Edit", new ViewModels.Models.Conductor())*@

@section Scripts {
    @*<script src="~/Scripts/travelTimes.js"></script>*@
    @*@Scripts.Render("~/bundles/modal")*@
    <script src="~/Scripts/modal.comun.js"></script>
}